<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topaz.mapper.ApprovalMapper">

	<!-- 분류 번호: #11 - 전자결재 신청 페이지 :: 서명 등록 -->
	<update id="insertApprovalSign" parameterType="com.topaz.dto.Employee">
		UPDATE
			employee
		SET
			  sign_file = #{signFile}
			, mod_id = #{modId}
			, mod_time = NOW()
		WHERE
			emp_no = #{empNo}
	</update>
	
	
	<!-- 분류 번호: #11 - 전자결재 신청 페이지 :: 서명 파일 등록 -->
	<insert id="insertApprovalSignFile" parameterType="com.topaz.dto.UploadFile">
		INSERT INTO file_upload(
			  file_no
			, reference_no
			, original_file_name
			, file_name
			, file_size
			, file_type
			, reg_id
			, reg_time
			, mod_id
			, mod_time
			, use_yn
		)VALUES(
			  #{fileNo}
			, #{referenceNo}
			, #{OriginalFileName}
			, #{fileName}
			, #{fileSize}
			, #{fileType}
			, #{regId}
			, NOW()
			, #{modId}
			, NOW()
			, #{useYN}
		)
	</insert>
	
	
	<!-- 분류 번호: #11 - 전자결재 신청 페이지 :: 서명 파일 조회 -->
	<select id="selectEmpSign" parameterType="String" resultType="map">
		SELECT 
			  e.emp_no empNo
			, e.emp_name empName
			, e.emp_grade empGrade
			, (SELECT cd_nm FROM common_code WHERE crp_cd = 'E001' AND cd = e.emp_dept) empDeptName
			, (SELECT cd_nm FROM common_code WHERE crp_cd = 'E002' AND cd = e.emp_grade) empGradeName
			, e.sign_file signFile
		FROM 
			employee e 
		INNER JOIN file_upload f 
			ON e.sign_file = f.file_no
		WHERE 
			e.emp_no = #{empNo}
	</select>
	
	
	<!-- 분류 번호: #11 - 전자결재 신청 페이지 :: 서명 파일 수정 -->
	<update id="updateApprovalSign" parameterType="String">
		UPDATE 
			employee e, file_upload f
		SET 
			  e.mod_time = NOW()
			, f.mod_time = NOW()
		WHERE 
			e.sign_file = f.file_no
		AND 
			e.emp_no = #{empNO}
	</update>
	
	
	<!-- 분류 번호: #11 - 전자결재 신청 페이지 :: 첫번째 결재자 리스트 조회 -->
	<select id="selectFirstApproval" parameterType="String" resultType="map">
		SELECT 
			e.emp_no empNo
			,e.emp_name empName
			, e.emp_dept empDept
			,(SELECT cd_nm FROM common_code WHERE crp_cd = 'E001' AND cd = e.emp_dept) empDeptName
			, e.emp_grade empGrade
			, (SELECT cd_nm FROM common_code WHERE crp_cd = 'E002' AND cd = e.emp_grade) empGradeName
		FROM 
			employee e
		WHERE 
			e.emp_grade > 1
		AND 
			e.emp_dept = #{approvalType}
		ORDER BY e.emp_grade DESC
	</select>
	
	
	<!-- 분류 번호: #11 - 전자결재 신청 페이지 :: 부서 카테고리 리스트 조회 -->
	<select id="selectDeptList" resultType="map">
		SELECT 
			  cd departmentCode
			, cd_nm departmentName
		FROM 
			common_code
		WHERE 
			crp_cd = 'E001'
	</select>
	
	
	<!-- 분류 번호: #11 - 전자결재 신청 페이지 :: 부서 카테고리 리스트 조회 -->
	<insert id="insertApprovalDoc" parameterType="com.topaz.dto.ApprovalDoc">
		INSERT INTO approval_doc(
			  approval_doc_no
			, approval_type
			, emp_no
			, approval_state
			, doc_title
			, first_approval
			, final_approval
			, doc_first_content
			, doc_second_content
			, doc_third_content
			, start_date
			, end_date
			, reg_id
			, reg_time
			, mod_id
			, mod_time
			, use_yn
		)VALUES(
		  	  CURRENT_TIMESTAMP(5)
			, #{approvalType}
			, #{empNo}
			, #{approvalState}
			, #{docTitle}
			, #{firstApproval}
			, #{finalApproval}
			, #{docFirstContent}
			, #{docSecondContent}
			, #{docThirdContent}
			, #{startDate}
			, #{endDate}
			, #{regId}
			, NOW()
			, #{modId}
			, NOW()
			, #{useYn}
		)
		
		<selectKey keyProperty="approvalDocNo" resultType="String" order="AFTER">
	        SELECT CAST(MAX(approval_doc_no) AS CHAR) 
	        FROM approval_doc 
	        WHERE reg_id=#{regId}
	        ORDER BY reg_time DESC LIMIT 1
		</selectKey>
	</insert>
	
</mapper>