<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topaz.mapper.ApprovalMapper">

	<!-- 분류 번호: #11 - 전자결재 신청 페이지 :: 서명 등록 -->
	<update id="insertApprovalSign" parameterType="com.topaz.dto.Employee">
		UPDATE
			employee
		SET
			  sign_file = #{signFile}
			, mod_id = #{modId}
			, mod_time = NOW()
		WHERE
			emp_no = #{empNo}
	</update>
	
	
	<!-- 분류 번호: #11 - 전자결재 신청 페이지 :: 서명 파일 등록 -->
	<insert id="insertApprovalSignFile" parameterType="com.topaz.dto.UploadFile">
		INSERT INTO file_upload(
			  file_no
			, reference_no
			, original_file_name
			, file_name
			, file_size
			, file_type
			, reg_id
			, reg_time
			, mod_id
			, mod_time
			, use_yn
		)VALUES(
			  #{fileNo}
			, #{referenceNo}
			, #{OriginalFileName}
			, #{fileName}
			, #{fileSize}
			, #{fileType}
			, #{regId}
			, NOW()
			, #{modId}
			, NOW()
			, #{useYN}
		)
	</insert>
	
	
</mapper>