<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topaz.mapper.BpoMapper">

	<!-- 분류 번호: #5 - 외주업체 예약일정 관리 페이지 :: 예약일정 전체조회 -->
	<select id="selectBpoRsvnList" parameterType="String" resultType="map">
	    SELECT 
	        os.rsvn_no rsvnNo,
	        o.outsourcing_name outsourcingName,
	        o.outsourcing_no outsourcingNo,
	        os.rsvn_title rsvnTitle,
	        (SELECT cd_nm FROM common_code WHERE crp_cd = 'W006' AND cd = os.rsvn_state) rsvnState,
	        os.rsvn_content rsvnContent,
	        DATE_FORMAT(os.rsvn_start, '%Y-%m-%dT%H:%i:%s') rsvnStart,
	        DATE_FORMAT(os.rsvn_end, '%Y-%m-%dT%H:%i:%s') rsvnEnd
	    FROM 
	        outsourcing_rsvn os
	        INNER JOIN outsourcing o ON os.outsourcing_no = o.outsourcing_no
	    WHERE os.use_yn = (SELECT cd FROM common_code WHERE crp_cd = 'A002' AND cd = 'Y')
	    AND (SELECT cd_nm FROM common_code WHERE crp_cd = 'W006' AND cd = os.rsvn_state) LIKE CONCAT('%', '', '%')
	    <if test="inputState != null and inputState != ''">
	     	AND os.outsourcing_no = #{inputState}
		</if>
	</select>

	
	<!-- 분류 번호: #5 - 외주업체 예약일정 관리 페이지 :: 외주업체 카테고리 가져오기 -->
	<select id="selectBpoCategory" resultType="map">
		SELECT outsourcing_no outsourcingNo, outsourcing_name outsourcingName
		FROM outsourcing
		WHERE use_yn = (SELECT cd FROM common_code WHERE crp_cd = 'A002' AND cd = 'Y')
		AND outsourcing_type = (SELECT cd FROM common_code WHERE crp_cd = 'W002' AND cd = '2')
	</select>
	
	
	<!-- 분류 번호: #5 - 외주업체 예약일정 관리 페이지 :: 예약받는 외주업체 영업상태 -->
	<select id="selectBpoState" resultType="map">
		SELECT 
			o.outsourcing_no outsourcingNo
			,o.outsourcing_name outsourcingName
			,o.incharge_name inchargeName
			,CONCAT(SUBSTRING(o.contact_no from 1 for 3), '-'
					, SUBSTRING(o.contact_no from 4 for 4), '-'
					, SUBSTRING(o.contact_no from 8 for 4)) contactNo
			,(SELECT cd_nm FROM common_code WHERE crp_cd = 'W001' AND cd = o.outsourcing_state) outsourcingState
		FROM outsourcing o
		WHERE o.outsourcing_type 
				= (SELECT cd FROM common_code WHERE crp_cd = 'W002' AND cd = '2')
		AND o.use_yn
				= (SELECT cd FROM common_code WHERE crp_cd = 'A002' AND cd = 'Y')
		ORDER BY outsourcingState DESC
	</select>
	
	
	<!-- 분류 번호: #5 - 외주업체 예약일정 관리 페이지 :: 오늘의 예약 조회 -->
	<select id="selectBpoRsvnToday" resultType="map">
		SELECT 
	        os.rsvn_no rsvnNo
	        , o.outsourcing_name outsourcingName
	        , o.outsourcing_no outsourcingNo
	        , SUBSTRING(os.rsvn_title, 1, 6) rsvnTitle
	        , (SELECT cd_nm FROM common_code WHERE crp_cd = 'W006' AND cd = os.rsvn_state) rsvnState
	        , os.rsvn_content rsvnContent
	        , DATE_FORMAT(os.rsvn_start, '%H:%i') rsvnStart
	        , DATE_FORMAT(os.rsvn_end, '%H:%i') rsvnEnd
	    FROM 
	        outsourcing_rsvn os
	        INNER JOIN outsourcing o ON os.outsourcing_no = o.outsourcing_no
	    WHERE os.use_yn 
	    		= (SELECT cd FROM common_code WHERE crp_cd = 'A002' AND cd = 'Y')
		AND (CURDATE() BETWEEN DATE(os.rsvn_start) AND DATE(os.rsvn_end) 
				OR (CURDATE() = DATE(os.rsvn_start) AND CURDATE() = DATE(os.rsvn_end)));
	</select>
	
	
	<!-- 분류 번호: #5 - 외주업체 업체 목록 페이지 :: 외주업체 전체 조회 -->
	<select id="selectBpoList" parameterType="String" resultType="map">
		SELECT o.outsourcing_no outsourcingNo
			, o.outsourcing_name outsourcingName
			, (SELECT cd_nm FROM common_code WHERE crp_cd = 'W002' AND cd = o.outsourcing_type) outsourcingType
			, o.incharge_name inchargeName
			, CONCAT(SUBSTRING(o.contact_no from 1 for 3)
						, '-', SUBSTRING(o.contact_no from 4 for 4)
						, '-', SUBSTRING(o.contact_no from 8 for 4)) contactNo
			, DATE(o.contract_start) contractStart
			, DATE(o.contract_end) contractEnd
			, o.emp_no empNo
			, e.emp_name empName
			, o.use_yn useYn
		FROM outsourcing o
		INNER JOIN employee e 
			ON o.emp_no = e.emp_no
		<where>
			<if test="searchWord != null">
				AND o.outsourcing_name LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test="searchType != null and searchType != ''">
				AND o.outsourcing_type LIKE CONCAT('%',#{searchType},'%')
			</if>
		</where>
		ORDER BY contractStart DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 분류 번호: #5 - 외주업체 업체 목록 페이지 :: 외주업체 전체 조회 총 행의 개수  -->
	<select id="selectBpoListTotalRow" parameterType="String" resultType="int">
		SELECT COUNT(*) cnt 
		FROM outsourcing
		<where>
			<if test="searchWord != null">
				AND outsourcing_name LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test="searchType != null and searchType != ''">
				AND outsourcing_type = #{searchType}
			</if>
		</where>
	</select>
	
</mapper>