<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topaz.mapper.CleaningMapper">

	<!-- 분류번호: #8 - 객실 관리 페이지 : 객실 청소상태 수정 -->
	<update id="updateStatus" parameterType="com.topaz.dto.Cleaning">
	UPDATE 
		cleaning 
	<set>
		room_status	= 'C',
		mod_time = NOW(),
		mod_id = #{modId}
	</set> 
	WHERE 
		room_no = #{roomNo}
	AND 
		use_yn = 'Y' 
	</update>
	
	<!-- 분류번호: #8 - 객실 관리 페이지 : 객실 청소율 조회 -->
	<select id="selectCleaningRate" resultType="map">
	SELECT 
    	COUNT(CASE WHEN (SELECT cd_nm FROM common_code WHERE crp_cd = 'C002' AND cd = c.room_status) = 'CLEAN' THEN 1 END) cleanRoom,
    	COUNT(CASE WHEN (SELECT cd_nm FROM common_code WHERE crp_cd = 'C002' AND cd = c.room_status) = 'DIRTY' THEN 1 END) dirtyRoom,
    	COUNT(*) totalRoom,
    	COUNT(CASE WHEN (SELECT cd_nm FROM common_code WHERE crp_cd = 'C002' AND cd = c.room_status) = 'CLEAN' THEN 1 END) * 100.0 / COUNT(*) cleanRate,
    	COUNT(CASE WHEN (SELECT cd_nm FROM common_code WHERE crp_cd = 'C003' AND cd = r.room_state) = 'ON' THEN 1 END) onRoom,
    	COUNT(CASE WHEN (SELECT cd_nm FROM common_code WHERE crp_cd = 'C003' AND cd = r.room_state) = 'OFF' THEN 1 END) offRoom
	FROM 
	    cleaning c
	INNER JOIN 
	    room r ON c.room_no = r.room_no
	WHERE 
	    r.use_yn = 'Y'	    
	</select>
	
	<!-- 분류번호: #8 - 객실 관리 페이지 : 객실 상태 초기화 -->
	<update id="resetStatus" parameterType="com.topaz.dto.Cleaning">
		UPDATE 
		    cleaning c
		JOIN 
		    room r ON c.room_no = r.room_no
		SET 
		    c.room_status = 'D',
		    c.cleaning_schedule = DATE_ADD(CURDATE(), INTERVAL 35 HOUR)
		WHERE 
		    c.use_yn = "Y"
		AND 
			r.room_state = 1
	</update>
</mapper>