<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topaz.mapper.GuestMapper">
	<!-- 분류번호: #7 - 입주자 관리 페이지 : 전체 입주자 조회 -->
	<select id="selectResidentAll" parameterType="map" resultType="map">
		SELECT 
			g.gst_id gstId,
			g.gst_name gstName, 
			r.room_dong roomDong, 
			r.room_ho roomHo 
		FROM 
			guest g 
		INNER JOIN 
			room r 
		ON 
			g.room_no = r.room_no
		WHERE 
			g.use_yn = 'Y'
		AND	
			g.gst_type = '입주자'
		<if test="searchWord != null">
			AND (g.gst_name LIKE CONCAT('%', #{searchWord}, '%'))
		</if>
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 분류번호: #7 - 입주자 관리 페이지 : 전체 입주자 조회 -->
	<select id="selectResidentCount" resultType="int">
		SELECT COUNT(*) FROM guest WHERE use_yn = 'Y' AND gst_type='입주자'
	</select>

	
	<!-- 분류번호: #7 - 입주자 관리 페이지 : 전체 입주자 조회 -->
    <!-- 입주자가 있는 객실만 조회 -->
    <select id="filterResidentList" resultType="map">
        SELECT 
        	g.gst_id gstId,
        	g.gst_name gstName, 
        	r.room_dong dong, 
        	r.room_type type,
        	r.room_ho ho
        FROM 
        	guest g
        INNER JOIN 
        	room r 
        ON 
        	g.room_no = r.room_no
        WHERE 
        	g.room_no IS NOT NULL
        AND
        	g.use_yn = 'Y'
        AND 
        	g.gst_type = '입주자'
        	
        <if test="dong != null and dong != ''">
            AND r.room_dong = #{dong}
        </if>
        <if test="type != null and type != ''">
            AND r.room_type = #{type}
        </if>
        <if test="ho != null and ho != ''">
            AND r.room_ho = #{ho}
        </if>
        LIMIT #{beginRow}, #{rowPerPage}
    </select>
    
    <!-- 분류번호: #7 - 입주자 관리 페이지 : 입주자 상세 조회 -->
    <select id="selectResidentOne" parameterType="String" resultType="map">
    	SELECT 
	    	g.gst_id gstId, g.gst_name gstName, g.gst_email gstEmail, 
	    	g.gst_gender gstGender, g.gst_birth gstBirth, g.use_yn useYn,
			g.gst_phone gstPhone, DATE_FORMAT(g.contract_start, '%Y-%m-%d') contractStart, 
			DATE_FORMAT(g.contract_end, '%Y-%m-%d') contractEnd, g.room_amenity roomAmenity, 
			g.resident_note residentNote, g.protector_name protectorName, g.gst_type gstType,
			g.protector_phone protectorPhone, g.protector_relation protectorRelation, 
			(SELECT emp_name FROM employee WHERE emp_no = g.reg_id) regId, 
			(SELECT emp_name FROM employee WHERE emp_no = g.mod_id) modId, 
			r.room_no roomNo, r.room_type roomType, r.room_dong roomDong, r.room_ho roomHo
		FROM 
			guest g
		INNER JOIN 
			room r
		ON 
			g.room_no = r.room_no
		WHERE 
			g.gst_id = #{gstId}
		AND 
			g.use_yn = 'Y'
		AND 
			g.gst_type = '입주자'
    </select>
    
    <!-- 분류번호: #7 - 입주자 관리 페이지 : 입주자 수정 -->
    <update id="updateResident" parameterType="com.topaz.dto.Guest">
    	UPDATE guest
	    <set>
	        <if test="gstPhone != null and gstPhone != ''">
	            gst_phone = #{gstPhone},
	        </if>
	        <if test="gstEmail != null and gstEmail != ''">
	            gst_email = #{gstEmail},
	        </if>
	        <if test="roomAmenity != null and roomAmenity != ''">
	            room_amenity = #{roomAmenity},
	        </if>
	        <if test="residentNote != null and residentNote != ''">
	            resident_note = #{residentNote},
	        </if>
	        <if test="contractEnd != null and contractEnd != ''">
	            contract_end = #{contractEnd},
	        </if>

	        protector_name = #{protectorName},
	        protector_phone = #{protectorPhone},
	        protector_relation = #{protectorRelation},

	        mod_time = NOW(),
	        mod_id = #{modId}
	    </set>
	    WHERE 
	        gst_id = #{gstId} 
	    AND 
	        use_yn = 'Y'
	    AND 
	    	gst_type = '입주자'
    </update>
</mapper>