<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topaz.mapper.LoginMapper">

	<!-- #1 - 직원 로그인 -->
	<select id="doEmpLogin" resultType="com.topaz.dto.Employee">
		SELECT emp_no empNo, emp_pw empPw, emp_name empName, emp_dept empDept, emp_grade empGrade, use_yn useYN
		FROM employee
		WHERE use_yn = 'Y'
		AND emp_no = #{strId}
	</select>

	<!-- #12 - 외주업체 로그인 -->
	<select id="doOutsourcingLogin" resultType="com.topaz.dto.Outsourcing">
		SELECT outsourcing_no outsourcingNo, outsourcing_pw outsourcingPw, outsourcing_name outsourcingName, 
				outsourcing_state outsourcingState, outsourcing_type outsourcingType
		FROM outsourcing 
		WHERE use_yn = 'Y'
		AND outsourcing_no = #{strId}

	</select> 





</mapper>