<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topaz.mapper.NoticeMapper">

	<!-- 분류 번호: #10 - 공지 사항 삭제 -->
	<delete id="deleteNotice" parameterType="String">
	UPDATE news_notice
	SET 
		use_yn = 'N',
		mod_id = 'C3de4f5gh',
		mod_time = NOW()
	WHERE 
		news_no = #{newsNo};
	</delete>
	<!-- 분류 번호: #10 - 공지 사항 수정 -->
	<update id="updateNotice" parameterType="com.topaz.dto.Notice">
	UPDATE news_notice
	SET 
		title = #{title},
		content = #{content},
		grade = #{grade},
		category = #{category},
		start_date = #{startDate},
		end_date = #{endDate},
		mod_id = 'C3de4f5gh',
		mod_time = NOW()
	WHERE 
		news_no = #{newsNo};	
	</update>
	
	<!-- 분류 번호: #10 - 공지 사항 등록 -->
	<insert id="insertNotice" parameterType="com.topaz.dto.Notice">
	
	<selectKey resultType="String" order="AFTER" keyProperty="newsNo">
		SELECT LAST_INSERT_ID()
	</selectKey>
	INSERT INTO news_notice(
		news_no, title, content, grade, category, start_date, end_date, views,
		reg_time, mod_time, reg_id, mod_id, use_yn
	) VALUES (
		CURRENT_TIMESTAMP(5), #{title}, #{content},
		CASE
		WHEN #{grade} != '1' OR #{category} != '3' THEN '1'
		ELSE #{grade}
		END,
		#{category},
		CASE
		WHEN #{grade} != '1' OR #{category} != '3' THEN NOW()
		ELSE DATE_ADD(#{startDate}, INTERVAL 0 SECOND)
		END,
		CASE
		WHEN #{grade} != '1' OR #{category} != '3' THEN '2099-12-31 23:59:59'
		ELSE DATE_SUB(DATE_ADD(#{endDate}, INTERVAL 1 DAY), INTERVAL 1 SECOND)
		END,
		NULL, NOW(), NOW(), 'C3de4f5gh', 'C3de4f5gh', 'Y'
	);
</insert>
	<!-- 분류 번호: #10 - 공지 사항 상세 페이지 -->
	<!-- 작성자 이름을 위한 news_notice-employee 테이블 간 JOIN -->
	<!-- datetime 소수점 첫째까지 출력돼서 포맷 변환 -->
	<select id="selectNoticeDetail" parameterType="map" resultType="map">
		SELECT
			nn.news_no newsNo, nn.title, nn.content, nn.grade, nn.category, 
			DATE_FORMAT(nn.start_date, '%Y-%m-%d %H:%i:%s') startDate,
			DATE_FORMAT(nn.end_date, '%Y-%m-%d %H:%i:%s') endDate,
			DATE_FORMAT(nn.reg_time, '%Y-%m-%d %H:%i:%s') regTime, 
			DATE_FORMAT(nn.mod_time, '%Y-%m-%d %H:%i:%s') modTime, 
			nn.use_yn useYn, e.emp_name empName
		FROM
			news_notice nn
		JOIN
			employee e 
		ON
			nn.reg_id = e.emp_no	
		WHERE 	
			nn.news_no = #{newsNo}
	
	</select>
	
	<!-- 분류 번호: #10 - 공지 사항 목록 페이지 - 페이징 -->
	<select id="noticeCnt" resultType="int">
		SELECT
			COUNT(*) cnt
		FROM
			news_notice
		WHERE
			use_yn = 'Y'
			AND grade IN (1,2)
			AND category IN (1,2,3)
			AND (start_date IS NOT NULL OR end_date IS NOT NULL);	 
	</select> 
	
	<!-- 분류 번호: #10 - 공지 사항 목록 페이지 - 리스트 -->
	<!-- 작성자 이름을 위한 news_notice-employee 테이블 간 JOIN -->
	<!-- datetime 소수점 첫째까지 출력돼서 포맷 변환 -->
	<select id="selectNoticeList" parameterType="map" resultType="map">
		SELECT 
			ROW_NUMBER() OVER(ORDER BY nn.news_no ASC) no, nn.news_no newsNo, nn.title title, nn.content content, nn.grade grade, nn.category category, 
			DATE_FORMAT(nn.start_date, '%Y-%m-%d %H:%i:%s') startDate, 
			DATE_FORMAT(nn.end_date, '%Y-%m-%d %H:%i:%s') endDate, 
			DATE_FORMAT(nn.reg_time, '%Y-%m-%d %H:%i:%s') regTime, 
			DATE_FORMAT(nn.mod_time, '%Y-%m-%d %H:%i:%s') modTime, 
			nn.use_yn useYn, e.emp_name empName
		FROM
			news_notice nn
			JOIN 
				employee e 
			ON 
				nn.reg_id = e.emp_no
		<where>
			nn.use_yn = 'Y'
			AND (nn.start_date IS NOT NULL OR nn.end_date IS NOT NULL)
			AND nn.grade IN (1,2)
			AND nn.category IN (1,2,3)
			<if test="searchWord != null">
				AND (nn.title LIKE CONCAT('%', #{searchWord}, '%')
				OR nn.content LIKE CONCAT('%', #{searchWord}, '%'))
			</if>
		</where>
		ORDER BY 
			nn.news_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
</mapper>