<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topaz.mapper.NoticeMapper">

	<!-- 분류 번호: #10 - 공지 사항 삭제 -->
	<update id="deleteNotice" parameterType="String">
	UPDATE news_notice
	SET 
		use_yn = 'N',
		mod_id = #{modId},
		mod_time = NOW()
	WHERE 
		news_no = #{newsNo};
	</update>
	
	<!--  분류 번호: #10 - 공지 사항 첨부파일 상태 수정  -->
	<update id="updateFileState" parameterType="map">
	UPDATE file_upload
	SET 
		use_yn = 'N',
		mod_id = #{modId},
		mod_time = NOW()
	WHERE 
		file_name = #{currentFileName}
	</update>
	
	
	<!-- 분류 번호: #10 - 공지 사항 수정 -->
	<update id="updateNotice" parameterType="com.topaz.dto.Notice">
		UPDATE news_notice
		SET 
			title = #{title},
			content = #{content},
			grade = #{grade},
			category = #{category},
			file_name = #{fileName},
			start_date = #{startDate},
			end_date = #{endDate},
			mod_id = #{modId},
			mod_time = NOW()
		WHERE 
			news_no = #{newsNo};	
	</update>
	
	<!-- 분류 번호: #10 - 공지 사항 등록 -->
	<insert id="insertNotice" parameterType="com.topaz.dto.Notice">
	
		INSERT INTO news_notice(
			news_no, 
			title, 
			content, 
			grade, 
			category,
			file_name,
			start_date, 
			end_date, 
			reg_id, 
			reg_time, 
			mod_id, 
			mod_time, 
			use_yn			
		) VALUES (
		    CURRENT_TIMESTAMP(5), 
		    #{title}, 
		    #{content}, 
		    #{grade}, 
		    #{category}, 
		    #{fileName},
		    #{startDate}, 
		    #{endDate}, 
		    #{regId}, 
		    NOW(), 
		    #{modId}, 
		    NOW(), 
		    'Y'		   
		);
	</insert>
	
	<!-- 분류 번호: #10 - 공지 사항 상세  -->
	<select id="selectNoticeDetail" parameterType="map" resultType="map">
		SELECT
			nn.news_no newsNo, 
			nn.title, 
			nn.content, 
			nn.grade, 
			nn.category, 
			DATE_FORMAT(nn.start_date, '%Y-%m-%d %H:%i:%s') startDate,
			DATE_FORMAT(nn.end_date, '%Y-%m-%d %H:%i:%s') endDate,
			nn.use_yn useYn, 
			e.emp_name empName,
			e.emp_no empNo,
			nn.file_name fileName
		FROM
			news_notice nn
		LEFT JOIN
			employee e 
		ON
			nn.reg_id = e.emp_no	
		LEFT JOIN
			file_upload fu
		ON
			fu.file_name = nn.file_name AND 
			fu.use_yn = 'Y'
		WHERE 	
			nn.news_no = #{newsNo}
	</select>
	
	<!-- 분류 번호: #10 - 공지 사항 개수 조회 -->
	<select id="noticeCnt" resultType="int">
	  	SELECT
	        COUNT(*) 
	    FROM
	        news_notice AS nn
	    LEFT JOIN
	        common_code AS grade_comm
	    ON
	        nn.grade = grade_comm.cd AND grade_comm.crp_cd = 'W004'
	    LEFT JOIN
	        common_code AS category_comm
	    ON
	        nn.category = category_comm.cd AND category_comm.crp_cd = 'W005'
        LEFT JOIN
			employee AS e
		ON
			e.emp_no = nn.reg_id
	    WHERE
	        nn.use_yn = 'Y'
	        AND nn.grade IN (1,2,3)
	        AND nn.category IN (1,2,3)
	        <if test="noticeType != null and noticeType != ''">
	            AND category_comm.cd_nm = #{noticeType}
	        </if>
	        <if test="searchWord != null and searchWord != ''">
	            AND (nn.title LIKE CONCAT('%', #{searchWord}, '%')
	            OR nn.content LIKE CONCAT('%', #{searchWord}, '%'))
	        </if> 
	</select> 
	
	<!-- 분류 번호: #10 - 공지 사항 목록 조회 -->
	<select id="selectNoticeList" parameterType="map" resultType="map">
		SELECT
	        ROW_NUMBER() OVER(ORDER BY nn.news_no DESC) no, 
	        nn.news_no newsNo,
	        nn.title title,
	        e.emp_name empName,
	        nn.content content,
	        grade_comm.cd_nm grade,
	        category_comm.cd_nm category,
        	DATE_FORMAT(nn.reg_time, '%Y-%m-%d') regTime
	    FROM
	        news_notice AS nn
	    LEFT JOIN
	        common_code AS grade_comm
	    ON
	        nn.grade = grade_comm.cd AND grade_comm.crp_cd = 'W004'
	    LEFT JOIN
	        common_code AS category_comm
	    ON
	        nn.category = category_comm.cd AND category_comm.crp_cd = 'W005'
        LEFT JOIN
			employee AS e
		ON
			e.emp_no = nn.reg_id
	    WHERE
	        nn.use_yn = 'Y'
	        <if test="noticeType != null and noticeType != ''">
	            AND category_comm.cd_nm = #{noticeType}
	        </if>
	        <if test="searchWord != null and searchWord != ''">
	            AND (nn.title LIKE CONCAT('%', #{searchWord}, '%')
	            OR nn.content LIKE CONCAT('%', #{searchWord}, '%'))
	        </if>
	    LIMIT #{currentPage}, #{rowPerPage}
	</select>
</mapper>