<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topaz.mapper.VolunteerMapper">


	<!-- 분류번호: #9 - 봉사 일정 페이지 : 전체 리스트 -->
	<select id="selectVolunteerList" resultType="map">
		SELECT 
			vol_no volNo, 
			vol_content volContent, 
			DATE_FORMAT(vol_starttime, '%Y-%m-%d %H:%i') volStartTime ,
			DATE_FORMAT(vol_endtime, '%Y-%m-%d %H:%i') volEndTime , 
			vol_people volPeople
		FROM volunteer
		WHERE use_yn = (SELECT cd FROM common_code WHERE crp_cd = 'A002' AND cd = 'Y');
	</select>

	<!-- 분류번호: #9 - 봉사 일정 페이지 : 일정 상세보기 -->
	<select id="selectVolunteerOne">
		SELECT 
			vol_no volNo, 
			vol_content volContent, 
			DATE_FORMAT(vol_starttime, '%Y-%m-%d %H:%i') volStartTime ,
			DATE_FORMAT(vol_endtime, '%Y-%m-%d %H:%i') volEndTime , 
			vol_people volPeople,
			(SELECT emp_name FROM employee WHERE emp_no = v.reg_id) regId,
			(SELECT emp_name FROM employee WHERE emp_no = v.mod_id) modId
		FROM volunteer v
		WHERE use_yn = (SELECT cd FROM common_code WHERE crp_cd = 'A002' AND cd = 'Y')
		AND vol_no = #{volNo};
	</select>

	<!-- 분류번호: #9 - 봉사 일정 페이지 : 일정 상세보기 -->
	<update id="modifyVolunteer">
		UPDATE volunteer 
		SET 
			vol_content = #{volContent}, 
			vol_starttime = #{volStartTime},
			vol_endtime = #{volEndTime}, 
			vol_people = #{volPeople},
			mod_id = #{modId},
			mod_time = NOW()
		WHERE vol_no = #{volNo};
	</update>
	
	<!-- 분류번호: #9 - 봉사 일정 페이지 : 일정 등록하기 -->
	<insert id="addVolunteer">
		INSERT INTO volunteer 
			(vol_no, 
			 vol_content, 
			 vol_starttime, 
			 vol_endtime, 
			 vol_people, 
			 reg_id, 
			 reg_time, 
			 mod_id, 
			 mod_time, 
			 use_yn)
		VALUES
			(CURRENT_TIMESTAMP(5), 
			 #{volContent}, 
			 #{volStartTime},
			 #{volEndTime}, 
			 #{volPeople},
			 #{regId},
			 NOW(), 
			 #{modId},
			 NOW(), 
			 'Y'
			 )
	</insert>
	
	


</mapper>