@charset "UTF-8";

/* ==========사내일정 - scheduleList.jsp========== */
.todayDiv{
	margin: 3%;
}

.todayDiv button{
	border: 0;
	outline: 0;
	background: none;
}

/* 캘린더 일정 간격 조정 */
.fc-event {
    margin-bottom: 3px; 
}
 
 /* 일요일 날짜 색상 */
.fc-day-sun a {
  color: red;
  text-decoration: none;
}

/* 토요일 날짜 색상 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
}

/* 평일 날짜 색상 */
.fc-day-mon a, .fc-day-tue a, .fc-day-wed a,.fc-day-thu a, .fc-day-fri a {
  color: #012970;
  text-decoration: none;
}

/* 오늘의 일정 type별 색상 */
.typeMeeting{
	background-color: #81bbb2;
}

.typeInspection{
	background-color: #ffbb57;
}

.typeFestival{
	background-color: #af92e2;
}

.scheduleModalDiv{
	margin-bottom: 15px;
}

/* 모달 내용등록 label */
.modal-body label{
	text-align: center;
	font-weight: bolder;
}



/* ==========외주업체 예약일정 - bpoMainIn.jsp========== */
.card-title span{
	font-family: "Nunito", sans-serif;
	color: #f7f7f7;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
}

.card-title select{
	margin-top: 15px;
}

.rsvnInfoWait{
	background-color: #81bbb2;
}

.rsvnInfoConfirm{
	background-color: #f6bf26;
}

.rsvnInfoCxl{
	background-color: #d50000;
}

.bpoStateOn{
	font-size: 14px;
	padding: 8px;
	margin: 3px;
	background-color: #3788d8;
	color: #f7f7f7;
}

.bpoStateOff{
	font-size: 14px;
	padding: 8px;
	margin: 3px;
	background-color: gray;
	color: #f7f7f7;
}


/* ==========외주업체 목록 - bpoList.jsp========== */
.bpoListPage{
	--bs-pagination-color: #4154f1;
}

.searchSpan{
	font-weight: bolder;
}

/*  */
.validMsg{
	width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}



/* ==========외주업체 상세 - bpoDetail.jsp========== */
.bpoPic{
	margin-bottom: 20px;
}

.bpoLabel label{
	font-weight: bolder;
}

.profile-overview > div >.label{
	font-weight: bolder;
}

.bpoDetailsAll{
    font-size: 18px;
}

.bpoDetailsAll > .row{
	margin: 20px;
}

