@charset "UTF-8";

/* 일반 태그 */
form {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

form input[type="date"],
form input[type="text"],
form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: auto; 
}

form button:hover {
    background-color: #0056b3;
}

button.resetBtn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: auto;
}

button.resetBtn:hover {
    background-color: #0056b3;
}

button[type="button"]:not(.resetBtn) {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: auto; 
}

button[type="button"]:not(.resetBtn):hover {
    background-color: #0056b3;
}

table tr:hover {
    background-color: #d3eafc; 
    cursor: pointer; 
}


h1.titleH1 {
    margin-top: 10px;
    font-size: 32px;
    color: #333;
    text-align: center;
}

.dateInput span {
    margin: 0 10px;
}

.dateInput {
    display: flex;
    align-items: center;
}

.dateInput input[type="date"] {
    width: calc(50% - 20px);
}

.deptYNDiv,
.gradeNoDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.deptYNDiv > div,
.gradeNoDiv > div {
    width: 48%;
}

.btnDiv {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
    cursor: default;
}

@media (max-width: 768px) {
    .deptYNDiv > div,
    .gradeNoDiv > div {
        width: 100%;
        margin-bottom: 10px;
    }
}

.bpoListPage {
    --bs-pagination-color: #4154f1;
}

.remaining-leave {
	display:flex;
	justify-content:flex-end;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top:10px;
    padding: 10px;
    border-radius: 5px;
}

.remaining-leave .leave-type {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.remaining-leave .leave-type label {
    align-items: center;
    margin-right: 5px;
}

.remaining-leave .leave-type span {
    color: #007bff;
}

#paginationUl {
    display: flex;
    justify-content: center;    
}

