@charset "UTF-8";


button{
    padding: 10px 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

button:hover{
    background-color: #0056b3;
}

.chartDiv{
	 display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
canvas {
  	max-width: 600px;
    max-height: 350px;
}

#btnDiv{
	display: flex;
	justify-content: center;
}
